* {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-size: medium;
    font-weight: bolder;
}

h3 {
    font-size: small;
    font-weight: bold;
}

p {
    font-size: x-small;
}

header {
    text-align: center;
    background-color: gainsboro;
    padding: 15px;
}

.noticia {
    columns: 3;
    background-color: beige;
    padding: 15px;
}

.boton {
    background-color: whitesmoke;
    border: 10px;

}